body {
    background-color: #1d1f2a;
    color: #3bc1ff;
    font-family: Asap, sans-serif;
    height: 100vh;
}

.container {
    max-width: 100%;
}

.menu {
    background-color: #313c48;
    height: 100vh;
}

h1 {
    font-family: Oswald, sans-serif;
    font-size: 58px;
}

h1 a:hover {
    text-decoration: none;
}


h2 {
    font-family: Oswald, sans-serif;
}

a, a:hover {
    color: #3bc1ff;
}

.w-limited {
    max-width: 200px;
}

input[type=text], input[type=password], input[type=text]:focus, input[type=password]:focus, input[type=date], input[type=date]:focus, textarea, select {
    background-color: #313c48!important;
    color:#3bc1ff!important;
    border-color:#3bc1ff!important;
}

input[type=submit], .btn-blue, option {
    background-color: #313c48;
    color: #3bc1ff;
}

input[type=submit]:hover {
    color: #3bc1ff;
    text-decoration: none;
}

button a:hover {
    text-decoration: none;
}

.error_message {
    color: #c93629;
}

.cgu {
    max-width: 250px;
}

.secondary-background {
    background-color: #313c48;
}