{% extends 'page.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<form method="post" class="form-when-no-user-logged text-center mx-auto">
    <h1 class="mb-5">Check it</h1>
    <h2 class="h3 mb-3 font-weight-normal">Se connecter</h2>

    {% if error %}
        <div class="error_message mb-3">Informations incorrectes</div>
    {% endif %}

    <label for="inputUsername">Identifiant</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mb-3" placeholder="Identifiant" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="checkbox my-3">
		<label>
			<input type="checkbox" name="_remember_me"> Se souvenir de moi
		</label>
	</div>


    <button class="btn btn-blue mb-5" type="submit">
        Se connecter
    </button>
</form>

<div class="form-when-no-user-logged text-center mx-auto">
     <button class="btn btn-blue">
            <a href="{{ path('app_register') }}">Créer un compte</a>
    </button>
</div>
{% endblock %}
