{% extends "app/index.html.twig" %}

{% block content %}
<div class="row mx-4">
	{% if critical_tasks %}
	<div class="col-md-6 col-xl-4 p-3">
		<h2 class="text-center">Critiques</h2>

		{% for task in critical_tasks %}
			{% if task.active %}
				<div class="task critical_task">
			{% else %}
				<div class="task critical_task inactive_task">
			{% endif %}
				{{ task.title }}
			</div>
		{% endfor %}
	</div>
	{% endif %}

	{% if important_tasks %}
	<div class="col-md-6 col-xl-4 p-3">
		<h2 class="text-center">Importantes</h2>

		{% for task in important_tasks %}
		{% if task.active %}
			<div class="task important_task">
		{% else %}
			<div class="task important_task inactive_task">
		{% endif %}
		{{ task.title }}
			</div>
		{% endfor %}
	</div>
	{% endif %}

	{% if normal_tasks %}
	<div class="col-md-6 col-xl-4 p-3">
		<h2 class="text-center">Normales</h2>

		{% for task in normal_tasks %}
		{% if task.active %}
			<div class="task normal_task">
		{% else %}
			<div class="task normal_task inactive_task">
		{% endif %}
		{{ task.title }}
			</div>
		{% endfor %}
	</div>
	{% endif %}

	{% if optional_tasks %}
	<div class="col-md-6 col-xl-4 p-3">
		<h2 class="text-center">Optionnelles</h2>

		{% for task in optional_tasks %}
		{% if task.active %}
			<div class="task optional_task">
		{% else %}
			<div class="task optional_task inactive_task">
		{% endif %}

				{{ task.title }}
			</div>
		{% endfor %}
	</div>
	{% endif %}

</div>
	
{% endblock %}