{% extends "header.html.twig" %}

{% block body %}
<div class="container full-height w-100 m-0">
	<div class="row full-height">
		<!-- Menu -->
		<div class="col-md-3 menu full-height">
			<h1 class="mx-auto">Check it</h1>
	
			<nav class="row">
				<div class="col-6"><span class="fas fa-plus"></span></div>
				<div class="col-6">Ajouter une tâche</div>
				<div class="col-6"><span class="fas fa-tools"></span></div>
				<div class="col-6">Passer en mode édition</div>
				<div class="col-6"><span class="fas fa-sort-amount-up-alt"></span></div>
				<div class="col-6">Trier par périodicité</div>
				<div class="col-6"><span class="fas fa-user"></span></div>
				<div class="col-6">Mon compte</div>
				<div class="col-6"><span class="fas fa-sign-out-alt"></span></div>
				<div class="col-6">Se déconnecter</div>
			</nav>
		</div>
	
		<div class="col">
			{% block content %}{% endblock %}
		</div>
	</div>	
</div>
{% endblock %}

