{% extends "logout/base.html.twig" %}

{% block content %}
<p>Votre compte a bien été créé, vous pouvez maintenant vous connecter.</p>
<div class="text-center"><button type="button" class="btn btn-blue"><a href="{{ path('index') }}">Page d'accueil</a></button></div>
{% endblock %}